<div class="container">

	<h1><%= @team.name %></h1>

	<h3>Players</h3>

	<!--
	<ul>
		<% @roster.each do |x| %>
		#set variable to player
		<% @player_id = x.player_id %>
		#grabs player object whose id matches variable above; 'where' returns array, grab first item and return name
		<li><%= Player.where(id: @player_id).first.name%></li>
		<%end%>
	</ul>
	-->

	<!--code above bootstrapped-->
	<div class="row">
	  
	  	<% @roster.each do |x| %>
		<!--set variable to player-->
		<% @player_id = x.player_id %>
		<!--grabs player object whose id matches variable above; 'where' returns array, grab first item and return name-->
	    <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">

	      <div class="caption">
	        <h3><%= Player.where(id: @player_id).first.name %></h3>
	        <p><%= Player.where(id: @player_id).first.position %> - <%=Player.where(id: @player_id).first.r_team %></p>
	      </div>
	    </div>
	 	</div>
	    <%end%>
	</div>

	<button><%= link_to "Back", teams_index_path %></button>

</div>

