<div class="container">

	<%= @user.name %>'s account 

	<br/>	

	<%= @user.team.name %>

	<button><%= link_to "change team name", edit_team_path(@user.team) %></button>

	<br/>

	<button><%= link_to "View other teams", teams_index_path %></button>

	<br/>

	Players

	<br/>

	<ul>
		<% @roster.each do |x| %>
		<!--set variable to player-->
		<% @player_id = x.player_id %>
		<!--grabs player object whose id matches variable above; 'where' returns array, grab first item and return name-->
		<li><%= Player.where(id: @player_id).first.name%></li>
		<%end%>

	</ul>

	

	<button><%= link_to "add players", players_list_path %></button>

	<br/>

	<button><%= link_to "Logout", destroy_session_path %></button>

	<br/>

</div>
