
<div class="container">

	<div class="icon-bar one-up">
	  <a class="item">
	    <i class="fi-home"></i>
	    <label>Home</label>
	  </a>
	  <a class="item" href="<%= edit_team_path(@user.team) %>">
	  	<i class="fi-widget"></i>
	  	<label>Settings</label>
	  </a>
	  <a class="item">
	    <i class="fi-mail"></i>
	    <label>Messages</label>
	  </a>
	  <a class="item">
	  	<i class="fi-like"></i>
	    <label>Likes</label>
	  </a>
	</div>

	<h1><%= @user.name %>'s account</h1>

	<br/>	

	<h2><%= @user.team.name %></h2>

	<%= link_to "change team name", edit_team_path(@user.team) %>

	<br/>

	<%= link_to "View other teams", teams_index_path %>

	<br/>

	<h3>Players</h3>

	<br/>

	<div class="row">
		<% @roster.each do |x| %>
		<!--set variable to player-->
		<% @player_id = x.player_id %>
		<!--grabs player object whose id matches variable above; 'where' returns array, grab first item and return name-->
		<div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
		
	    	<div class="caption">
			<h3><%= link_to (Player.where(id: @player_id).first.name), x.player %></h3>
			</div>
		</div>
		</div>
		<%end%>

	</div>



	<%= link_to "add players", players_list_path %>

	<br/>

	<%= link_to "Logout", destroy_session_path, class: "btn btn-warning" %>

	<br/>

</div>
