
<div class="container">

	<%= render "shared/nav" %>

	<h2><%= @user.team.name %></h2><small>Owner: <%= @user.name %></small>
	<br/>


	<br/>

	<h3>Players</h3>

	<br/>

	<div class="row">
		<% @roster.each do |x| %>
		<!--set variable to player-->
		<% @player_id = x.player_id %>
		<!--grabs player object whose id matches variable above; 'where' returns array, grab first item and return name-->
		<div class="col-sm-2 col-md-4">
	    <div class="thumbnail">
			<img src="http://a.espncdn.com/combiner/i?img=/i/headshots/mlb/players/full/3246.png&w=350&h=254">
	    	<div class="caption">
			<h3><%= link_to (Player.where(id: @player_id).first.name), x.player %></h3>
			</div>
		</div>
		</div>
		<%end%>

	</div>

	<br/>

	<%= link_to "Logout", destroy_session_path, class: "btn btn-warning" %>

	<br/>

</div>
