<div class="container">

	login form

	<br/>

	<% flash.each do |key,value|  %>
	    <div class="<%= key %>" > <%= value %> </div>
	<% end %>

	<br/>

	<%= form_for :user, url: create_session_path do %>
	  Email: <%= email_field_tag :email %><br/>
	  Password: <%= password_field_tag :password %><br/>
	  <%= submit_tag "Sign In!" %>
	<% end %>

	<br/>

	<button><%= link_to "Back", root_path %></button>

</div>