<div class="container">

	<%= render "shared/nav" %>

	<h1>Players</h1>

	<br/>

	<%= form_tag('/players/list', method: "get") do %>
		Search player by:
		<%= select_tag "search", options_for_select(["name","position","r_team"]), class: "col-md-4" %>
	      : <%= text_field_tag :query %>
		<%= submit_tag "Search", "class" => "btn btn-primary" %>
	<% end %>
	
	
		<br/>

	  <% if @players.methods.include? :page %>
	    <%= paginate @players %>
	    <%end%>

	<br/>
	<table>
	  <thead>
	    <tr>
	      <th width="250" height="30">Name</th>
	      <th width="200" height="30">Position</th>
	      <th width="200" height="30">Team</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<% @players.each do |x| %>
	    <tr>
	      <td height="30"><%= link_to x.name, x %></td>
	      <td height="30"><%= x.position %></td>
	      <td height="30"><%= x.r_team %></td>
	    </tr>
	   <%end%>
	</table>


	<br/>



</div>
