<div class="container">

	<%= render "shared/nav" %>

	<h1>Players</h1>

	<br/>

	
		<%= form_tag('/players/list', method: "get") do %>
		Search player by:
		<%= select_tag "search", options_for_select(["Name","Position","Team"]), class: "bar" %>
	    <%= text_field_tag :query, class: "bar" %>
		<%= submit_tag "Search", "class" => "btn btn-primary" %>
		<% end %>

	
		<br/>

	  <% if @players.methods.include? :page %>
	    <%= paginate @players %>
	    <%end%>

	<br/>

	<div class="row">
		<div class="col-sm-12">
			<table>
			  <thead>
			    <tr>
			      <th class="tablehead">Name</th>
			      <th class="tablehead">Position</th>
			      <th class="tablehead">Team</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<% @players.each do |x| %>
			    <tr>
			      <td class="tablerow"><%= link_to x.name, x %></td>
			      <td class="tablerow"><%= x.position %></td>
			      <td class="tablerow"><%= x.r_team %></td>
			    </tr>
			   <%end%>
			  </tbody>
			</table>
		</div>
	</div>

	<br/>
</div>

