<div class="container">

	<h1><%= @player.name %></h1>

	<br/>

	<h3><%= @player.position %> - <%= @player.r_team %></h3>

	<br/>

	Team Name: 

	<br/>

	<!--uses conditional from controller to determine whether or not add button is viewable-->
	<% if @present %>
		<button><%= link_to	"Drop Player", delete_roster_path(team_id: @team) %></button>
	<% else %>
		<button><%= link_to "Add to Team", create_roster_path(team_id: @team) %></button>
	<%end%>

	<br/>

	<button><%= link_to "Back", players_list_path %></button>

</div>