<h1><%= @player.name %></h1>

<br/>

<h3><%= @player.position %> - <%= @player.r_team %></h3>

<br/>

<button><%= link_to "Add to Team", assign_player_path, method: 'patch' %></button>

<br/>

<button><%= link_to "Back", players_list_path %></button>