<h1><%= @player.name %></h1>

<br/>

<h3><%= @player.position %> - <%= @player.r_team %></h3>

<br/>
Team Name: <%= @team.name %>

<button><%= link_to "Add to Team", create_roster_path(team_id: @team) %></button>

<br/>

<button><%= link_to "Back", players_list_path %></button>