<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <div class="container">
  <HEADER>
    <div class="page-header">
      <h1>FANtasy Share <small>Where all your dreams come true</small></h1>
    </div>
  </HEADER>
</div>
  <body>

    <%= yield %>

  </body>
</html>
